/***** BUTTON STYLE START *********/
.btn {

    padding: 15px 31px 16px 31px;
    border: none;
    background-color: #66D2CF;
    border-radius: 6px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-title-color);
}